.container {
  position: relative;
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, 50%); */
  background-color: rgb(20,20,100);
  /* width: 50vw; */
  height: 50vh;
  height: 800px;

}

.sketch {
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  background-color: rgb(20,20,100);
}
.slider {
  display: flex;
}