#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('assets/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .4;
    visibility: visible;
    pointer-events: none;
}
@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.visualizer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.visualizer canvas {
    /* max-width: 800px !important; */
    max-height: 400px !important;
    /* background: firebrick; */
    border-bottom: 2px solid rgb(220, 220, 220);
}

/* Parameters */

.visualizer .parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 50%; */
}
.visualizer :is(.parameters, .colorInputs){
    margin: 1em;
    height: 500px;
}

.visualizer-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5em;
    font-size: 1.5em;
}

.visualizer-input .input-label {
    width: 25%;
    text-align: left;
}

.visualizer-input .input-value {
    width: 25%;
    text-align: right;
}

.slider input {
    width: 50%;
}

.equation {
    display: flex;
    align-items: center;
    /* margin: 4vh; */
}

.equation .math {
    font-size: min(10em, 10vw);
    font-family: 'Literata', serif;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    padding-top: 5%;
    margin: 0.25em;
}

.fraction input {
    width: 75%;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.fraction-bar {
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
/*
Colors
*/
.colorInputs {
    margin: 1em;
    display: flex;
    justify-content: center;
}
.colorPicker {
    display: flex;
    flex-wrap: wrap;
    width: min(500px,100%);
    height: 100%;
}
.colorPicker button {
    border-left-color: rgba(255, 255, 255, 0.12) !important;
    width: 25%;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding: 5px;
    min-height: 4em;
}
.hidden {
    display: none !important;
}
@media (max-width: 1300px) {
    .visualizer .parameters {
        width: 90%;
    }
    .colorInputs {
        display: flex;
    }
}

@media (max-width: 500px) {}

@media (max-width: 300px) {}