.visualizer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.visualizer canvas {
    max-width: 800px !important;
    max-height: 400px !important;
    /* background: firebrick; */
}

/* Parameters */

.visualizer .parameters {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visualizer-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5em;
    font-size: larger;
}

.visualizer-input .input-label {
    width: 25%;
    text-align: left;
}

.visualizer-input .input-value {
    width: 25%;
    text-align: right;
}

.slider input {
    width: 50%;
}

.equation {
    display: flex;
    align-items: center;
}

.equation .math {
    font-size: 10vw;
    font-style: italic;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5em;
    margin: 0.25em;
}

.fraction input {
    width: 75%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.fraction-bar {
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

@media (max-width: 1300px) {
    .visualizer .parameters {
        width: 90%;
    }
}

@media (max-width: 500px) {}

@media (max-width: 300px) {}