.visualizer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.visualizer canvas {
    max-width: 50vmin !important;
    max-height: 50vmin !important;
    background-color: rgb(20, 20, 100);
}

/* Parameters */

.visualizer .parameters {
    width: 50%;
}

.visualizer-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .slider-label {
    width: 25%;
    text-align: left;
}

.slider .slider-value {
    width: 25%;
    text-align: right;
}

.slider input {
    width: 50%;
}

.bloom-button {
    width: 100%;
    margin-top: 20px;
}